{% extends 'mainform.html' %}

{% block form %}
<form class="uk-panel uk-panel-box uk-form">
    <div class="uk-form-row">
        <a class="uk-width-1-1 uk-button uk-button-success uk-button-large" href="{{ base_url }}/checkin/{{ code }}">Check In</a>
    </div>
    <div>
        <a class="uk-width-1-1 uk-button uk-button-danger uk-button-large" href="{{ base_url }}/checkout/{{ code }}">Check Out</a>
    </div>
        <div>
        <a class="uk-width-1-1 uk-button uk-button-info uk-button-large" href="{{ base_url }}/checkout/{{ code }}">Attendance Report</a>
    </div>
</form>

{% endblock %}            

