<!DOCTYPE html>
<html>
<head>

  <title>Attend</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ base_url }}/css/jquery.mobile.flatui.css" rel="stylesheet" />

  <!-- Javascript -->
  <script src="{{ base_url }}/js/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.js"></script>
  <script src="{{ base_url }}/js/fastclick.js"></script>

</head>
  
  <style>
    .ui-body { margin-bottom: 2em; }
    
    .ui-listview > li:first-of-type { border-top: 0 }
    .ui-listview > li { border-top: 5px solid white; }
    
    .success {
      color: white;
      background-color: #2ecc71;
    }
    
    .warning {
      color: white;
      background-color: #f1c40f;
    }
    
    .error {
      color: white;
      background-color: #c1392b;
    }
    
    .info {
      color: white;
      background-color: #3498db;
    }
  
  </style>
  
<body>
  
  <div data-role="page">
    
    <div class="ui-bar ui-bar-a">
      <div data-role="header" data-theme="a" data-add-back-btn="false">
        {% block head %}

        {% if session.user is not null %}
        <a href="{{ base_url }}/logout" data-icon="delete" class="ui-btn-right">Logout</a>
        {% endif %}

        <h1>Attend</h1>

        {% endblock %}
      </div>
    </div>
    
    {% if session.user is not null %}<div data-role="header" data-theme="c" ><h3>{{ session.user.fname }} {{ session.user.lname }}</h3></div>{% endif %}
    
    <div data-role="content">
      
      {% if flash.error is not null %}<div id="error" class="error ui-body">{{ flash.error }}</div>{% endif %}
      
      {% block main %}{% endblock %}
    </div>
  
  </div>

</body>
</html>