<!--ERROR-->
{% if data.error %}
<div class="error ui-body">{{ data.error }}</div>
{% endif %}

<!--NOT AT LOCATION OR TIME-->
{% if session.user.at_loc == 'false' or data.timeframe == 'false' %}
<div id="unavailable" class="ui-body ui-body-c">
  <p>Checkin not available at this time or location.</p>
  <button id="update-button" data-icon="refresh" data-theme="a">Update Time/Location</button>
</div>
{% endif %}

<!--CHECKIN DATA-->
{% if data.checkin.in is not empty %}
<div id="checkin-times">
  <div class="ui-bar ui-bar-a"><h2>Your Attendance</h2></div>
  <div class="ui-body ui-body-c">
    <p id="checkin-time">
      <strong>Check In:</strong> {{ data.checkin.in | date('h:i a') }}
        {% if data.checkin.out is empty %}
        <a id="cancel-checkin" href="#" style="float: right">Cancel Check In</a>
        {% endif %}
    </p>
    
    <p id="checkout-time">
      <strong>Check Out:</strong> 
      {% if data.checkin.out is not empty %}
      {{ data.checkin.out | date('h:i a') }}
      <a id="cancel-checkout" href="#" style="float: right">Cancel Check Out</a>
      {% endif %}
    </p>
  </div>
</div>
{% endif %}

<!--AT LOCATION & TIME-->
{% if session.user.at_loc == 'true' and data.timeframe == 'true' %}

{% if data.checkin.in is empty %}
<button id="checkin-button" data-theme="g" data-icon="flat-location">Check In</button>
{% endif %}

{% if data.checkin.in is not empty and data.checkin.out is empty %}
<button id="checkout-button" data-theme="d" data-icon="flat-checkround">Check Out</button>
{% endif %}

{% endif %}

<script type="text/javascript">
  
  $('#update-button').click(function(e){
    location.reload(true);
  });
  
  $('#checkin-button').click(function(e){
    checkinAjax('checkin','in');
  });
  
  $('#checkout-button').click(function(e){
    checkinAjax('checkin','out');
  });
  
  $('#cancel-checkin').click(function(e){
    e.preventDefault();
    var m = confirm('Delete Checkin?\nThis cannot be undone.');
    if (m == true) {    
      checkinAjax('cancel','in');
    }
  });
  
  $('#cancel-checkout').click(function(e){
    e.preventDefault();
    var m = confirm('Delete Checkout?\nThis cannot be undone.');
    if (m == true) {    
      checkinAjax('cancel','out');
    }
  });
  
</script>