{% extends 'base.html' %}

{% block main %}

<style>   
    #here       { display: none; }
    #not-here   { display: none; }
</style>

<!--MAP -->
<div id="map-canvas" style="height: 300px"></div>

<!--CHECKIN/OUT-->
<div class="uk-panel uk-panel-box">
{% if _.conf != 'none' %}     
    <h2>{{ _.conf.title }}</h2>
    <p>{{ _.conf.day }}</p>
    <p>at {{ _.conf.location.name }}</p>
    
    {% if flash.error %}
    <div>
        <b>Error:</b> {{ flash.error }}
    </div>
    {% endif %}
    
    <div id="here">
        {% if _.checkin.in is null %}
        <div id="checkin-button">
            <p><a class="uk-width-1-1 uk-button uk-button-success uk-button-large" href="checkin">Check In</a></p>
        </div>
        {% endif %}

        {% if _.checkin.in is defined and _.checkin.out is null %}
        <div id="checkout-button">
            <p><b>Check In:</b> {{ _.checkin.in }}</p>
            <p><a class="uk-width-1-1 uk-button uk-button-danger uk-button-large" href="checkout">Check Out</a></p>
        </div>
        {% endif %}
        
        {% if _.checkin.out is defined %}
        <div>
            <p><b>Check In:</b> {{ _.checkin.in }}</p>
            <p><b>Check Out:</b> {{ _.checkin.out }}</p>
            <p><b>Total Time:</b> {{ _.checkin.total }}</p>
        </div>
        {% endif %}
    </div>
    
    <div id="not-here">
        <p>You must be at the conference or remote location in order to check in or out.</p>
    </div>
    
    <div id="messages"></div>

{% else %}
    <p><b>There is no conference today.</b></p>
{% endif %}
</div>

<br />

<!--ATTENDANCE-->
<div class="uk-panel uk-panel-box">
    <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="{{ base_url }}/checkout/{{ code }}">Attendance Report</a>
</div>

<!--LOGOUT-->
<br />

<a href="{{ base_url }}/logout">Logout</a>

<!--JAVASCRIPT-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyDodj1oiPE4rns72bKYA0zPMmzJ6RXc1R4&sensor=FALSE"></script>
<script type="text/javascript">
    
    // INITIALIZE CALLBACK FUNCTION
    // success callback after geolocation obtained
    // p is location from geolocation service
    function initialize(p) { 
        
        // google maps point for users location
        var myLoc = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
        
        var mapOptions = {
          center: myLoc,
          zoom: 16
        };
        
        // load map into #map-canvas
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        
        var marker = new google.maps.Marker({
            position: myLoc, 
            map: map,
        });
        
        // utility function to turn string of four coordinates (comma separated) into google maps polygon
        function coordsPoly(x_string) {
            var r = x_string.split(",");
            var coords = [
                new google.maps.LatLng(r[0], r[1]),
                new google.maps.LatLng(r[2], r[3]),
                new google.maps.LatLng(r[4], r[5]),
                new google.maps.LatLng(r[6], r[7])
            ]; 
            var poly = new google.maps.Polygon({
                paths: coords
            });
            return poly;
        };
        
        // put locations on map
        var locationPoly = coordsPoly("{{ _.conf.location.coords }}");
        var remotePoly = coordsPoly("{{ _.conf.remote.coords }}");
        
        locationPoly.setMap(map);
        remotePoly.setMap(map);
        
       // check if user is at primary or remote location and display appropriate controls.
        function postLocation(l) {
            $.post("{{ base_url }}/loc/"+l, function(data){
                console.log("At location: "+l);
                console.log("PHP return: " + data);
                if (data == 'remote' || data == 'primary') {
                    $('#here').show(); 
                } else {
                    $('#not-here').show();
                };
            });
        }
        
        if (google.maps.geometry.poly.containsLocation(myLoc, locationPoly)){
            postLocation("primary");
        } else if (google.maps.geometry.poly.containsLocation(myLoc, remotePoly)) { 
            postLocation("remote");
        } else { 
            postLocation("other");
        };
        
    }
    // INITIALIZE - END
    
    // ON PAGE LOAD: check for geolocation, if available, run initialize()
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initialize);             
    } else {
        $('#map-canvas').html("Geolocation not supported");
    }    

</script>

{% endblock %}